@font-face 
{
    font-family: 'nunito_sanslight';
    src: url('../fonts/nunitosans-light-webfont.woff2') format('woff2'),
         url('../fonts/nunitosans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'bebasregular';
    src: url('../fonts/bebas-regular-webfont.woff2') format('woff2'),
         url('../fonts/bebas-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight_italic';
    src: url('../fonts/opensans-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/opensans-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h2
{
	font-family: 'bebasregular', Helvetica, serif;
	font-size: 30px;
	color: #524e4e;
}

p
{
	font-family: 'nunito_sanslight', avenir, serif;
	font-size: 20px;
	color: #757373;
	margin-top: 40px;
	letter-spacing: 1px;
	line-height: 1.6;
}

p:first-letter
{
	font-size: 28px;
	color: #e19704;
}

.hidden
{
	display: none;
}


#siteContainer
{
	width: 960px;
}

#topBar
{
	background-color: #e19704;
	height: 40px;
}

#mainHeader
{
	position: relative;
	text-align: center;
	color: white;
}

#mainHeader h1
{
	position:absolute;
	top: 80%;
	left: 65%;
	font-size: 60px;
	font-family: 'bebasregular', times, serif;
	color: white;
}

#introduction
{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 60px;
	margin-bottom: 60px;
}

#introText
{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-bottom: 60px;
	margin-left: 60px;
	margin-right: 40px;
	margin-top: 60px;
}


#introText p
{
	font-family: 'open_sanslight_italic', avenir, serif;
	font-size: 12px;
	line-height: 20px;
}

#introGuiness
{
	margin-left: 100px;
	margin-right: 40px;
}


#shots
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#greenHarpoon
{
	margin-top: 60px;
	margin-bottom: 40px;
	margin-left: 40px;
}


#brewery
{
	position: relative;
	text-align: center;
	color: black;
	margin-top: 40px;
}

#brewery p
{
	position:absolute;
	top: 50%;
	left: 50%;
	font-size: 14px;
	font-family: 'open_sanslight_italic';
	line-height: 30px;
}

#brewersReserve
{
	margin-top: 40px;
	margin-bottom: 40px;
	margin-right: 40px;
	margin-left: 40px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

#conclusions
{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;

}

#conclusionsText
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 40px;
}

#conclusions img
{
	margin-top: 60px;
}

#footer
{
	background-color: #e19704;
	height: 60px;
}
